.App {
  text-align: center;
  background-color: whitesmoke;
}


.datamap1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img{
  width: 445px;
  height: 450px;
  object-fit: cover;
  transition-duration:0.5s ;
}
.img:hover{
  object-fit: cover;
  width: 480px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.card-details{
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: beige;
margin-top: 35px;
cursor: pointer;
transition-duration: .4s;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-details:hover{
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 207);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



.name-price{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.name{
  font-size: 22px;
  font-weight: 900;
  
}

.price{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 22px;
  font-weight: 900;
}

.summary{
  display: flex;
  justify-content: center;
margin-left: 5px;
 text-align: center;
  width: 400px;
}
.summary:hover{
  cursor: auto;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;

}

.cart-main-div{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 15px;
  
}

.cart-div1{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
justify-content: space-between;

}

.cart-div1:hover{
cursor: pointer;

}

.cart-summary{
  align-content: center;
}

.img-cart{
  width: 345px;
  height: 350px;
}

.cart-price{
  position: relative;
  top: 150px;
  right: 195px;
  font-size: 24px;
  font-weight: 800;
}